<!-- playground-hide -->
<!doctype html>
<head>
<style>
@import url("http://localhost:4321/css/orbit.min.css");

html, body {
  height: 100%; /* important */
}
body {
margin: 0;
padding: 0;
}
.o-orbiter {
border: 7px solid mediumaquamarine
}

.o-sector {
    
    border-color: blueviolet;
}

.o-sector:hover {
   
    border-color: rgb(239, 156, 22);
}

.o-sector:active {
    
    border-color: rgb(15, 215, 65);
}

.o-container {
border: 8px solid gray;
}
.o-container-query-enabled {
box-sizing: border-box;
resize: both;
overflow: auto;
}
</style>
</head>
<body>
<!-- playground-hide-end -->
<section class="o-container">
  <div  class="o-orbit">
    <div class="o-sector"></div>
    <div class="o-sector"></div>
    <div class="o-sector"></div>
    <div class="o-sector"></div>
    <div class="o-sector"></div>
  </div>
</section>
<!-- playground-hide -->
</body>
</html>