---
/**
 * 🚀 Orbit Astro Component
 * Author: ZumerLab - Juan Martin Muda
 * License: MIT
 */

---
  <style is:inline>
    .o-container * {
      margin: 0 !important;
    }
    .area {
      border: 2px solid gray;
      width: 100%;
      height: auto;
      padding: 8px;
      overflow: hidden;
    }
    .framex {
    border: 1px dashed black !important;  
    }
    .pointer {
      border: none !important;
      background-color: transparent !important;
      will-change: transform;
      transition:  all 900ms,
      
    }
    .pointer .o-content {
      margin-top: 0px !important;
    }
.dot {
    border: 2px solid black !important; 
    background-color: black !important; 
}
.o-content {
  overflow: visible !important;
  margin-top: 25px !important;
  line-height: 1.1;
}
  </style>


<div class="area">
<slot></slot>
</div>

<script>
   const marker = document.getElementById("pointer");
  function verificarRango(array, valorReferencia, rango) {
    var stop = false
   
      for (let i = 0; i < array.length; i++) {
         if (!stop) {
        if (Math.abs(array[i] - valorReferencia) <= rango) {
          marker.style.color = 'red';
          marker.style.transform = `rotate(${valorReferencia}deg)`
          console.log('si')
          stop = true
        } else {
         
          marker.style.color = 'black';
           stop = false
        }
      }
    }
    
  }

  
  document.addEventListener("DOMContentLoaded", function() {
      const container = document.getElementById("example");
      const rect = container.getBoundingClientRect();
      const centerX = rect.left + rect.width / 2;
      const centerY = rect.top + rect.height / 2;
     
      const dots = document.querySelectorAll(".dot");
      const dotangles = []
      dots.forEach(dot => {
        let rect = dot.getBoundingClientRect();
        let centerXa = rect.left + rect.width / 2;
        let centerYa = rect.top + rect.height / 2;
        let anglea = Math.round(Math.atan2(centerYa - centerY, centerXa - centerX) * (180 / Math.PI));
        dotangles.push(anglea)
      } )
  
      console.log(dotangles)
      container.addEventListener("mousemove", function(event) {
         
  
          const mouseX = event.clientX;
          const mouseY = event.clientY;
  
          const angle = Math.atan2(mouseY - centerY, mouseX - centerX);
          const angleDegrees = Math.round(angle * (180 / Math.PI));
  
          

         verificarRango(dotangles, angleDegrees, 10)
         
      });
  });
  </script>

 