---
import { Image } from 'astro:assets';
const PAGE_TITLE_ID = '_top';
import type { Props } from '@astrojs/starlight/props';

import '../assets/css/orbit.min.css';
import '../assets/landing.css';

const { data } = Astro.props.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};
import Sanpack from '../components/ZumerCode.astro'
import htmlCode from '../examples/layout/orbit.html?raw'
---
<script src="../assets/orbit.js"></script>
<div class="orbitron paused-animations ">
<!-- logo -->
<section class="features logo" >
  <div class="o-container" style="height: 500px">
    <div class="orbit-zone">
      <div class="orbit-12 range-90 from-180" style="--o-orbit-number: 15">
        <o-sector  sector-color="var(--primary-color)"  class="outer-orbit reduce-80"></o-sector>
        <div class="satellite logo-ball"></div>
      </div>
      <div class="small-orbit orbit-5 dashed"></div>
      <div class="small-orbit orbit-7 dashed">
        <div class="satellite angle-180">
          <div class="capsule" style="width: 500px; font-size: 50px; color: white; text-align: center;"><h1 style="font-family: 'Noto Sans'">ORBIT</h1></div>
        </div>
      </div>
      <div class="small-orbit orbit-9 dashed">
        <div class="satellite grow-1x angle-50" style="border: 4px solid var(--primary-color)"></div>
      </div>
      <div class="small-orbit orbit-11 dashed">
        <div class="satellite reduce-10 angle-70" style="background-color: var(--primary-color)"></div>
        <div class="satellite reduce-10 angle-290" style="background-color: var(--primary-color)"></div>
       
        <div class="satellite angle-180">
          <div class="capsule" style="width: 500px; font-size: 30px; color: white; text-align: center;">The CSS radial composer</div>
        </div>
      </div>
      <div class="small-orbit orbit-11 dashed" style="--o-orbit-number: 13">
       
      </div>
      <div class="logo orbit-0 gooey-fx ">
        <div class="satellite grow-4x big">
          <div class="orbit-zone">
            <div class="orbit-4 reduce-10">
              <div class="satellite big quarter-outer-orbit angle-299" style="--o-size-ratio: 2.5;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- CTA -->
<section class="features action" >
  <div class="o-container" style="height: 504px">
    <div class="orbit-zone">
      <div class="orbit-12">
        <div class="satellite angle-50" style="border: 4px solid var(--primary-color)"></div>
        <div class="satellite angle-100" style="background-color: var(--primary-color)"></div>
        <div class="satellite angle-140 grow-1x" style="border: 3px solid var(--primary-color)"></div>
      </div>
      <div class="orbit-12" style="--o-orbit-number: 15">
        <div class="satellite reduce-30 angle-50" style="background-color: var(--primary-color)"></div>

       
      </div>
      <div class="orbit-12" style="--o-orbit-number: 13">
        <div class="satellite angle-80" style="border: 4px solid var(--primary-color)"></div>
      </div>
      <div class="orbit-9 range-180 from-0">
        <o-sector  sector-color="var(--primary-color)"  class="outer-orbit reduce-80"></o-sector>
        <div class="satellite action-ball"></div>
      </div>
      <div class="orbit-6 range-90 from-270 action-sector">
        <o-sector  sector-color="var(--primary-color)"  class="grow-x"></o-sector>
      </div>
      
      <div class="buttons orbit-0 gooey-fx-max from-0">
        <div class="satellite grow-3x small">
          <div class="capsule button">
            <a href="/introduction">Get <br> started</a>
          </div>

        </div>
        <div class="satellite">
          <div class="orbit-zone">
            <div class="orbit-10">
              <div class="satellite grow-6x angle-270" style="background: transparent;border: 0px dashed var(--primary-color)">
                <div class="orbit-zone">
                  <div class="orbit-10 github-animation">
                    <div class="github satellite small inner-orbit angle-120 grow-2x " style="">
                      <div class="capsule button" >
                        <a href="https://github.com/zumerlab/orbit" target="_blank">Github</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        

        
      </div>
    </div>
  </div>
</section>
<!-- TEXT -->
<section class="features component-text">
  <div class="o-container " style="height: 500px">
    <div class="orbit-zone">
      <div class="orbit-11 range-90 from-270" style="--o-orbit-number: 15">
        <o-sector  sector-color="var(--primary-color)"  class="outer-orbit reduce-80"></o-sector>
        <div class="satellite text-ball"></div>
      </div>
      <div class="orbit-10">
        <div class="satellite angle-0">
          <div class="capsule" style="width: 500px; font-size: 20px; color: white; text-align: center;">
            Create radial interfaces using only CSS
          </div>
        </div>
      </div>
      <div class="orbit-6">
        <div class="satellite angle-0">
          <div class="capsule" style="width: 500px; font-size: 20px; color: white; text-align: center;">
            Discover how to transform your design <br>with innovative radial elements
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 1ST COMPONENT CURVE -->
<section class="features components-1" style="">
  <div class="o-container" style="height: 300px">
    <div class="orbit-zone">
     
      <div class="orbit-4">
        <div class="satellite angle-270" style="border: 0.2px dashed var(--primary-color)">
          <div class="orbit-zone">
            <div class="orbit-12 range-170 from-351">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-50"></o-sector>
              <div class="satellite component-ball"></div>
            </div>
            
            <div class="orbit-12 range-170 from-351">
              
              <div class="satellite grow-3x orbits noactivecomponent" style="">
                <div class="orbit-zone">
                  <div class="orbit-zone" style="--o-lenght: 100px">
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                    <div class="orbit" style="border: 0.1px dashed var(--secondary-color)"></div>
                  </div>
                  <div class="orbit-5">
                    <div class="satellite angle-180 ">
                      orbits
                    </div>
                  </div>
                  <div class="orbit-4" >
                    <div class="satellite  inner-orbit angle-35 reduce-50 connector"></div>
                    <div class="spoke grow-2x outer-orbit angle-35 connector"></div>  
                  </div>
                  <div class="orbit-9">
                    <div class="satellite angle-35" style="background:transparent; width:500px; font-size: 20px; color: white; text-align: center;">
                      COMPONENTS
                    </div>
                  </div>
                </div>
              </div>
              <div class="satellite grow-3x satellites noactivecomponent">
                <div class="orbit-zone">
                  <div class="orbit-zone" style="--o-lenght: 100px">
                    <div class="orbit" ></div>
                    <div class="orbit-5" >
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                    </div>
                    <div class="orbit-11">
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                      <div class="satellite grow-2x" style="border: 0.1px dashed var(--secondary-color)"></div>
                    </div>
                  </div>
                  <div class="orbit-4">
                    <div class="satellite angle-180">
                      satellites
                    </div>
                  </div>
                </div>
              </div>
              <div class="satellite grow-3x sectors noactivecomponent">
                <div class="orbit-zone">
                  <div class="orbit-zone" style="--o-lenght: 100px">
                    <div class="orbit-4">
                      <o-sector class="gap-1 grow-2x"></o-sector>
                      <o-sector  class="gap-1"></o-sector>
                      <o-sector class="gap-1 grow-2x"></o-sector>
                      <o-sector  class="gap-1"></o-sector>
                      <o-sector  class="gap-1 grow-2x"></o-sector>
                      <o-sector  class="gap-1 grow-3x"></o-sector>
                      <o-sector  class="gap-1 grow-2x"></o-sector>
                    </div>
                    <div class="orbit-11">
                      <o-sector class="gap-1 grow-2x"></o-sector>
                      <o-sector  class="gap-1"></o-sector>
                      <o-sector  class="gap-1 grow-2x"></o-sector>
                      <o-sector  class="gap-1 grow-3x"></o-sector>
                      <o-sector  class="gap-1 grow-2x"></o-sector>
                    </div>
                  </div>
                  <div class="orbit-4">
                    <div class="satellite angle-180">
                      sector
                    </div>
                  </div>
                </div>
              </div>
              <div class="satellite grow-3x progresss noactivecomponent" >
                <div class="orbit-zone">
                  <div class="orbit-zone" style="--o-lenght: 100px">
                    <div class="orbit-7">
                      <o-progress value="40"/> 
                    </div>
                    <div class="orbit-9">
                      <o-progress value="60"/> 
                    </div>
                    <div class="orbit-11">
                      <o-progress value="80"/> 
                    </div>
                  </div>
                  <div class="orbit-4">
                    <div class="satellite angle-180">
                      progress
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="orbit-0">
              <div class="satellite" style="background:transparent; width: 500px; font-size: 20px; color: white; text-align: center;">
                TO COMPOSE
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features components-2" style="">
  <div class="o-container" style="height: 647px">
    <div class="orbit-zone">
      
      <div class="orbit-4">
        <div class="satellite angle-90" style="border: 0.2px dashed var(--primary-color)">
          <div class="orbit-zone">
            <div class="orbit-12 range-150 from-190">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-50"></o-sector>

            </div>
            <div class="orbit-0">
              <div class="satellite" style="background:transparent; width: 500px; font-size: 20px; color: white; text-align: center;">
                COMPLEX RADIAL THINGS
              </div>
            </div>
            <div class="orbit-12 range-140 from-240">
              <div class="satellite grow-3x spokes noactivecomponent">
                <div class="orbit-zone">
                  <div class="orbit-zone" style="--o-lenght: 100px">
                    <div class="orbit-11">
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                      <div class="spoke" style="background-color: white"></div>
                    </div>
                  </div>
                  <div class="orbit-4">
                    <div class="satellite angle-180">
                      spokes
                    </div>
                  </div>
                </div>
              </div>
              <div class="satellite grow-3x segments noactivecomponent" >
                <div class="orbit-zone">
                  <div class="orbit-zone" style="--o-lenght: 100px">
                    <div class="orbit-11">
                      <div class="segment"></div>
                      <div class="segment"></div>
                      <div class="segment"></div>
                      <div class="segment"></div>
                      <div class="segment"></div>
                      <div class="segment"></div>
                    </div>
                    <div class="orbit-11 from-90">
                      <div class="segment grow-2x"></div>
                      <div class="segment"></div>
                      <div class="segment"></div>
                      
                    </div>
                  </div>
                  <div class="orbit-4">
                    <div class="satellite angle-180">
                      segments
                    </div>
                  </div>
                </div>
              </div>
              <div class="satellite grow-3x curved-text noactivecomponent">
                <div class="orbit-zone">
                  <div class="orbit-zone" style="--o-lenght: 100px">
                    <div class="orbit-10">
                      <o-label class="component-label">curved text  -  curved text  - </o-label>
                    </div>
                  </div>
                  <div class="orbit-4">
                    <div class="satellite angle-180">
                      labels
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features example" style="">
  <div class="o-container" style="height: 292px">
    <div class="orbit-zone">
      
      <div class="orbit-0">
        <div class="satellite angle-90" style="border: 0.2px dashed var(--primary-color)">
          <div class="orbit-zone">
            <div class="orbit-11 range-230 from-10">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-50"></o-sector>
            </div>
            <div class="orbit-9 from-180">
              <o-sector class="gap-1 sectors-sector" sector-color="var(--background-color)"></o-sector>
              <o-sector class="gap-1 progress-sector" sector-color="var(--secondary-color)"></o-sector>
              <o-sector class="gap-1 labels-sector" sector-color="var(--background-color)"></o-sector>
              <o-sector class="gap-1 segments-sector" sector-color="var(--background-color)"></o-sector>
              <o-sector class="gap-1 spokes-sector" sector-color="var(--background-color)"></o-sector>
              <o-sector class="gap-1 orbits-sector" sector-color="var(--background-color)"></o-sector>
              <o-sector class="gap-1 satellites-sector" sector-color="var(--background-color)"></o-sector>
            </div>
            

            
          </div>
        </div>
      </div>
      <!-- clock -->
      <div class="orbit-zone" style="--o-lenght: 250px">
  
        <div class="orbit-12  range-90 from-315 fit-range">
          <div class="satellite grow-2x outer-orbit transparent">
            
          </div>
          <div class="satellite grow-2x  outer-orbit transparent ">
            
          </div>
    
        </div>
        <!-- curved text -->
        <div class="orbit-11 from-270 range-180">
          <o-label label-color="rgb(163,163,163)" text-anchor="middle" class="demo-curved" >ALARM 7:00AM</o-label>
          <o-label label-color="rgb(163,163,163)" text-anchor="middle" class="demo-curved digital-clock"></o-label>
        </div>
        <div class="orbit-11 from-160 range-40 ">
          <o-label flip   text-anchor="middle" label-color="rgb(163,163,163)" class="demo-curved">500 • 30 • 12</o-label>
        </div>
    
        <div class="calendar orbit-11 from-215 range-30">
          <o-label flip bg-color="rgb(57,57,57)" label-color="rgb(163,163,163)" text-anchor="middle"
            class="gap-3 rounded previous">22</o-label>
          <o-label flip bg-color="rgb(163,163,163)" text-anchor="middle" class="current gap-3 rounded">23</o-label>
          <o-label flip bg-color="rgb(57,57,57)" label-color="rgb(163,163,163)" text-anchor="middle"
            class="gap-3 rounded next">24</o-label>
        </div>
        <div class="orbit-12 from-227 range-12 ">
          <o-label flip label-color="white" text-anchor="middle" class="outer-orbit day-name"></o-label>
        </div>
    
        <!-- big clock ticks -->
        <div class="orbit-10 white-smoke-spot">
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
          <div class="spoke inner-orbit big-needle"></div>
        </div>
        <div class="orbit-10">
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
          <div class="spoke reduce-50 inner-orbit medium"></div>
    
        </div>
        <div class="orbit-10 from-3">
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
          <div class="spoke reduce-70 inner-orbit medium"></div>
    
    
        </div>
        <!-- big clock hours -->
        <div class="orbit-8">
          <div class="satellite hours">12</div>
          <div class="satellite hours">1</div>
          <div class="satellite hours">2</div>
          <div class="satellite hours">3</div>
          <div class="satellite hours">4</div>
          <div class="satellite hours">5</div>
          <div class="satellite hours">6</div>
          <div class="satellite hours">7</div>
          <div class="satellite hours">8</div>
          <div class="satellite hours">9</div>
          <div class="satellite hours">10</div>
          <div class="satellite hours">11</div>
        </div>
        <!-- center black core -->
        <div class="orbit-7 black-spot"></div>
        <div class="orbit-4">
          <!-- brand -->
          <div class="satellite grow-5x transparent">
            <div class="capsule" style="color: rgb(229,229,229);">ORBIT</div>
          </div>
          <!-- small clocks -->
          <div class="small-clock satellite transparent">
            <div class="orbit-zone" style="--o-lenght: 250px">
              <div class="small orbit-2 reduce-20 white-spot">
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
              </div>
              <div class="medium orbit-2 reduce-20 ">
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
              </div>
              <div class="hours orbit-1">
                <div class="satellite">30</div>
                <div class="satellite">05</div>
                <div class="satellite">10</div>
                <div class="satellite">15</div>
                <div class="satellite">20</div>
                <div class="satellite">25</div>
              </div>
              <div class="orbit-0">
                <div class="spoke outer-orbit grow-1x angle-0 needle "></div>
                <div class="satellite at-center reduce-80 needle-center"></div>
              </div>
            </div>
          </div>
          <div class="small-clock satellite transparent">
            <div class="orbit-zone" style="--o-lenght: 250px">
              <div class="small orbit-2 reduce-20 white-spot">
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
    
    
              </div>
              <div class="medium orbit-2 reduce-20 ">
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
              </div>
              <div class="hours orbit-1">
                <div class="satellite">60</div>
                <div class="satellite">15</div>
                <div class="satellite">30</div>
                <div class="satellite">45</div>
              </div>
              <div class="orbit-0">
                <div class="spoke outer-orbit grow-1x needle xs"></div>
                <div class="satellite at-center reduce-80 needle-center"></div>
              </div>
            </div>
          </div>
          <div class="small-clock satellite transparent">
            <div class="orbit-zone" style="--o-lenght: 250px">
              <div class="small orbit-2 reduce-20 white-spot">
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
                <div class="spoke reduce-80 inner-orbit"></div>
    
    
              </div>
              <div class="medium orbit-2 reduce-20 ">
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
                <div class="spoke inner-orbit reduce-70"></div>
              </div>
              <div class="hours orbit-1">
                <div class="satellite">12</div>
                <div class="satellite">3</div>
                <div class="satellite">6</div>
                <div class="satellite">9</div>
              </div>
              <div class="orbit-0">
                <div class="spoke outer-orbit grow-1x angle-0 needle "></div>
                <div class="satellite at-center reduce-80 needle-center"></div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- big clock -->
        <div class="orbit-0 clock">
          <div class="spoke outer-orbit minute xm">
            <!-- <img src="../assets/minutes.png" width="132"> -->
          </div>
          <div class="spoke outer-orbit hour xh">
            <!-- <img src="../assets/hours.png" width="78"> -->
          </div>
          <div class="satellite at-center center">
          </div>
        </div>
      </div>

      <div class="orbit-9 demo-progress-container ">
        <div class="satellite at-center grow-9x">
          <div class="capsule turn-left demo-progress">

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="features" style="">
  <div class="o-container" style="height: 700px">
    <div class="orbit-zone">
      <div class="orbit-10">
        <div class="satellite angle-0" style="background:transparent; width:500px; font-size: 20px; color: white; text-align: center;">
          FEATURES
        </div>
      </div>
            
            <div class="orbit-12 range-60 from-120" style="--o-orbit-number: 13">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-80"></o-sector>
              <div class="satellite feature-ball"></div>
            </div>
            <div class="orbit-9">
              <div class="satellite grow-7x angle-270">
                
                <div class="orbit-zone">
                  <div class="orbit-6 range-200 from-170 fit-range">
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                    <div class="spoke reduce-70 vector"></div>
                  </div>
                 
                  
                  <div class="orbit-4 from-0 range-180" >
                    <o-sector sector-color="var(--primary-color)" class="gap-2 reduce-70 selector-innovative-sector"></o-sector>
                    <o-sector sector-color="var(--primary-color)" class="gap-2 reduce-70 selector-easy-sector"></o-sector>
                    <o-sector sector-color="var(--primary-color)" class="gap-2 reduce-70 selector-seamless-sector"></o-sector>
                  </div>
                 
                 
                  <div class="orbit-0" >
                    <div class="satellite angle-0 grow-3x" style="border: 2px solid var(--primary-color)">
                      
                    </div>
                  </div>
                  <div class="orbit-2 range-180" >
                    <div class="satellite sync-rotation angle-30 selector-arrow">
                      <div class="orbit-zone">
                        <div class="orbit reduce-30  range-360 " style="rotate: 180deg">    
                          <div class="segment indicator"></div>
                          <div class="segment indicator"></div>
                          <div class="segment indicator"></div>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                  <div class="orbit-7 from-30 range-180 " >
                    
                    <div class="satellite outer-orbit selector-innovative-frame" >
                      <div class="orbit-zone connect-lines">
                        <div class="orbit-0">
                          <div class="spoke outer-orbit grow-2x angle-90 " style="background-color: var(--secondary-color)"></div>
                          <div class="spoke outer-orbit grow-1x angle-215 " style="background-color: var(--secondary-color)">
                          </div>
                        </div>
                        <div class="orbit-2">
                          <div class="satellite inner-orbit reduce-50 angle-215" style="background-color: var(--secondary-color)"></div>
                        </div>
                        <div class="orbit-3">
                          <div class="satellite outer-orbit angle-90 at-center-left" >
                            <div class="capsule at-center-left" style="border-radius: 10px; border: 1px solid var(--secondary-color); width: 200px; padding:8px">
                              <h3 class="title">Innovative CSS Radial Layout</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                     
                    <div class="satellite outer-orbit selector-easy-frame">
                      <div class="orbit-zone connect-lines">
                        <div class="orbit-0">
                          <div class="spoke outer-orbit grow-2x angle-90 " style="background-color: var(--secondary-color)"></div>
                          <div class="spoke outer-orbit grow-1x angle-270 " style="background-color: var(--secondary-color)">
                          </div>
                        </div>
                        <div class="orbit-2">
                          <div class="satellite inner-orbit reduce-50 angle-270" style="background-color: var(--secondary-color)"></div>
                        </div>
                        <div class="orbit-3">
                          <div class="satellite outer-orbit angle-90 at-center-left" >
                            <div class="capsule at-center-left" style="border-radius: 10px; border: 1px solid var(--secondary-color); width: 200px; padding:8px">
                              <h3 class="title">Easy to learn, easy to use</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="satellite outer-orbit selector-integration-frame">
                      <div class="orbit-zone connect-lines">
                        <div class="orbit-0">
                          <div class="spoke outer-orbit grow-2x angle-90 " style="background-color: var(--secondary-color)"></div>
                          <div class="spoke outer-orbit grow-1x angle-330 " style="background-color: var(--secondary-color)">
                          </div>
                        </div>
                        <div class="orbit-2">
                          <div class="satellite inner-orbit reduce-50 angle-330" style="background-color: var(--secondary-color)"></div>
                        </div>
                        <div class="orbit-3">
                          <div class="satellite outer-orbit  angle-90 at-center-left">
                            <div class="capsule at-center-left" style="border-radius: 10px; border: 1px solid var(--secondary-color); width: 200px; padding:8px">
                              <h3 class="title">Works with other CSS frameworks</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
    </div>
  </div>
</section>

<section class="features" style="">
  <div class="o-container" style="height: 254px">
    <div class="orbit-zone">
      <div class="orbit-7">
        <div class="satellite angle-0" style="background:transparent; width:300px; font-size: 20px; color: white; text-align: center;">
          <div class="capsule">TRANSFORM YOUR <br> PROJECT TODAY!</div>
        </div>
      </div>
            <div class="orbit-10 range-230 from-130">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-80"></o-sector>
              <div class="satellite lastaction-ball"></div>
            </div>
            <div class="orbit-zone">
             
              <div class="orbit-6 range-90 from-90">
                <o-sector  sector-color="var(--primary-color)"  class="grow-x"></o-sector>
              </div>
              
              <div class="buttons orbit-0 gooey-fx-max from-0">
                <div class="satellite grow-3x small">
                  <div class="capsule button">
                    <a href="/introduction">Get <br> started</a>
                  </div>
        
                </div>
                <div class="satellite">
                  <div class="orbit-zone">
                    <div class="orbit-10">
                      <div class="satellite grow-6x angle-270" style="background: transparent;border: 0px dashed var(--primary-color)">
                        <div class="orbit-zone">
                          <div class="orbit-10">
                            <div class="github satellite small inner-orbit github-animatiovn angle-120 grow-2x " style="">
                              <div class="capsule button" >
                                <a href="https://github.com/zumerlab/orbit" target="_blank">Github</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
        
                
              </div>
            </div>
    </div>
  </div>
</section>
<section class="features" style="margin-top: 220px !important; height: 500px">guides</section>
<section class="features" style="">copyright</section>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  </style>
<style>

  .orbit-zone{
    //border: 1px dashed yellowgreen !important;
    --o-size-ratio: 1; //reset
  }
  
   .black-spot {
      background-color: black;
    }

    .white-smoke-spot {
      background-color: rgb(232, 226, 218);
      border: 1px inset #0000002b;
      outline: 2px solid rgb(232 226 218)
    }

    .white-spot {
      border: 1px inset #0000002b;
      background-color: rgb(229, 229, 229);
      outline: 2px solid rgb(229, 229, 229);
    }

    .hours {
      background-color: transparent;
      border: none;
    }

    .big-needle {
      height: 3px;
      border-radius: 2px;
    }
    .mini {
      background-color: rgb(255, 255, 255);
      outline: 2px solid rgb(254, 254, 254);
    }

    .small-clock {
        .small .spoke {
        height: 1px;
        border-radius: 2px;
        background-color: gray;
      }

      .medium .spoke {
        height: 2px;
        border-radius: 2px;
        background-color: rgb(0, 0, 0);
      }

      .hours .satellite {
        font-size: x-small;
        border: none;
        background-color: transparent;
        font-weight: 600;
      }

      .needle {
        background-color: rgb(255, 64, 25);
        height: 1.5px;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.537))
      }

      .needle-center {
        background-color: rgb(255, 64, 25);
      }

    }

    .transparent {
      background-color: transparent;
    }

    .clock>.center {
      border: 3px solid rgb(232, 226, 218);
      background-color: black;
    }

    .hour,
    .minute {
      filter: drop-shadow(4px 4px 5px black)
    }

    .hours {
      font-weight: 700 !important;
    }

   .component-label   {
      font-size: 25px;
      font-weight: 500
    }
    .demo-curved {
      font-size: 5px;
      font-weight: bold;
    }

    .calendar {
      font-size: 3.5px;
      font-weight: bold;
    }

    .invert-color {
      filter: invert(1);
    }

    .day-name {
      text-transform: uppercase;
      font-weight: bold;
    }
 
  

  .orbit-zone {
    width: 0px !important
  }
  section > .orbit-zone {
    width: var(--o-lenght) !important;
  }
  .dev [class*='orbit-']{
 border: 1px solid #cccccc40
  }
  html {
  scroll-behavior: smooth;
}
  .logo-ball, .feature-ball, .action-ball, .text-ball, .component-ball,.lastaction-ball {
    background-color: var(--tertiary-color);
    will-change: transform;
    
  }

  .title {
    width: 150px; 
    color: var(--secondary-color);
    transition: color 300ms;
  }

  .title.active {
    color: white;
  }

  .text-feature {
    width: 250px; 
    color: var(--secondary-color);
    opacity: 0;
    transition-delay: 50ms;
    transition-duration: 300ms;
    transition-property: opacity;
  }
  .text-feature.active {
    opacity: 1
  }

section {
 
width: 100%;

padding: 0 !important;
margin-top: 0 !important;
}

.connector {
  background-color: var(--main-color)
}

	/* Dark mode colors. */
:root {
--main-color: #cececf;
--background-doc-color: #062b45;
--background-color: #0c4974;
--primary-color: #3da9fc;
--tertiary-color: #ef4565;
--secondary-color: #90b4ce;
/* */
--sl-color-accent-low: var(--background-color);
--sl-color-accent-high: var(--tertiary-color);
--sl-color-accent:var(--main-color);
--sl-color-black: var(--background-doc-color);
--sl-color-gray-1: #d8eefe;
--sl-color-gray-2: #d8eefe;
--sl-color-gray-3: #d8eefe;
--sl-color-gray-4: #d8eefe;
--sl-color-gray-5: var(--background-color);
--sl-color-gray-6: #d8eefe;
--sl-color-white: var(--primary-color);
}
/* Light mode colors. */
:root[data-theme='light'] {
--sl-color-accent-low: #90b4ce;
--sl-color-accent-high: #ef4565;
--sl-color-accent: var(--primary-color);
--sl-color-white: #094067;
--sl-color-gray-1: #5f6c7b;
--sl-color-gray-2: #5f6c7b;
--sl-color-gray-3: #5f6c7b;
--sl-color-gray-4: #5f6c7b;
--sl-color-gray-5: #353841;
--sl-color-gray-6: #d8eefe;
--sl-color-black: #fffffe;


}

:global(:root) {
--ec-frm-trmBg: #cde0ee !important;
--ec-frm-edBg: #cde0ee !important;
--ec-frm-trmTtbBg: #cde0ee !important; 
--ec-brdCol: var(--background-color); !important;
}

:global(.expressive-code .frame) {
box-shadow: none !important;

}
:global(.expressive-code *) {
border: none !important;
}

:global(.expressive-code pre) {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 8px !important;
border-bottom-left-radius: 8px !important;
}



:global(.default) {
--sl-color-border-badge: #094067 !important;


}







.copy {
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.copy > * {
	max-width: 50ch;
}

h1 {
	font-size: clamp(var(--sl-text-3xl), calc(0.25rem + 5vw), var(--sl-text-6xl));
	line-height: var(--sl-line-height-headings);
	font-weight: 600;
	color: var(--sl-color-white);
}

.tagline {
	font-size: clamp(var(--sl-text-base), calc(0.0625rem + 2vw), var(--sl-text-xl));
	color: var(--sl-color-gray-2);
}

.actions {
	gap: 1rem 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

@media (min-width: 50rem) {
	

	.copy {
		align-items: center;
	}

	.actions {
		justify-content: center;
	}
}

.paused-animations * {
  animation-play-state: paused !important;
  
}
.run-animations * {
  animation-play-state: running !important;
  
}
</style>
<script>
	    const orbitron = document.querySelector('.orbitron');


// define vars
const logoBall = document.querySelector('.logo-ball');
const actionBall = document.querySelector('.action-ball');
const featureBall = document.querySelector('.feature-ball');
const textBall = document.querySelector('.text-ball');
const componentBall = document.querySelector('.component-ball');
const lastactionBall = document.querySelector('.lastaction-ball');
// components
const orbits =  document.querySelector('.orbits');
const satellites =  document.querySelector('.satellites');
const sectors =  document.querySelector('.sectors');
const progresss =  document.querySelector('.progresss');
const curvedText =  document.querySelector('.curved-text');
const segments =  document.querySelector('.segments');
const spokes =  document.querySelector('.spokes');
// demo progress
const orbitsSector =  document.querySelector('.orbits-sector');
const satellitesSector =  document.querySelector('.satellites-sector');
const sectorsSector =  document.querySelector('.sectors-sector');
const progressSector =  document.querySelector('.progress-sector');
const labelsSector =  document.querySelector('.labels-sector');
const segmentsSector =  document.querySelector('.segments-sector');
const spokesSector =  document.querySelector('.spokes-sector');
const demoText = document.querySelector('.demo-progress');
const demoContainer = document.querySelector('.demo-progress-container');
// selector features
const arrowSelector =  document.querySelector('.selector-arrow');
const innovative =  document.querySelector('.selector-innovative-frame');
const easy =  document.querySelector('.selector-easy-frame');
const integration =  document.querySelector('.selector-integration-frame');

 // set default styles
 logoBall.style.opacity = 0;
    actionBall.style.opacity = 0;
    featureBall.style.opacity = 0;
    textBall.style.opacity = 0;
    componentBall.style.opacity = 0;
    lastactionBall.style.opacity = 0;
    innovative.style.opacity = 0;
    easy.style.opacity = 0;
    integration.style.opacity = 0;
	// Reanudar todas las animaciones cuando el DOM esté completamente cargado
	window.addEventListener('DOMContentLoaded', (event) => {

    


   
  
  let ticking = false;
  
  const scrollBall = () => {
    let scroll = document.documentElement.scrollTop;
    console.log(scroll)

    if (scroll >= 0 && scroll <= 470) {
      // asure next ball is hidden
      actionBall.style.opacity = 0
      // do magic
      let scroll2Deg = (-90 * scroll / 480)  * 1;
      logoBall.style.setProperty('--o-angle-composite', scroll2Deg + 'deg');
      logoBall.style.opacity = (scroll > 0 && scroll <= 470) ? 1 : 0;
      
    }

    if (scroll >= 472 && scroll <= 828) {
      // asure next ball is hidden
      logoBall.style.opacity = 0
      actionBall.style.opacity = 0
      textBall.style.opacity = 0
      // do magic
      let scroll2Deg = ( 180 * scroll / 375) + 45 * 1;
      actionBall.style.setProperty('--o-angle-composite', scroll2Deg + 'deg');
      actionBall.style.opacity = (scroll > 472 && scroll <= 828) ? 1 : 0;
      //
      orbitron.classList.remove("paused-animations");
      orbitron.classList.add("run-animations");
      
    }

    if (scroll >= 829 && scroll <= 1038) {
      // asure next ball is hidden
      actionBall.style.opacity = 0
      lastactionBall.style.opacity = 0
      
      // do magic
      let scroll2Deg = (-180 * scroll / 416) - 1;
      textBall.style.setProperty('--o-angle-composite', scroll2Deg + 'deg');
      textBall.style.opacity = (scroll > 829 && scroll <= 1038) ? 1 : 0;
      
    }
    if (scroll >= 1070 && scroll <= 1100) {
      orbits?.classList.add('activecomponent')
      orbitsSector?.setAttribute('sector-color', 'var(--secondary-color)')
      demoText.innerHTML = 'Composing demo 12%'
    } /* else {
      orbits?.classList.remove('activecomponent')
      orbitsSector?.setAttribute('sector-color', 'var(--background-color)')
      demoText.innerHTML = 'Composing demo 22%'
    } */
    if (scroll >= 1120 && scroll <= 1160) {
      satellites?.classList.add('activecomponent')
      satellitesSector?.setAttribute('sector-color', 'var(--secondary-color)')
      demoText.innerHTML = 'Composing demo 34%'
    } /* else {
      satellites?.classList.remove('activecomponent')
      satellitesSector?.setAttribute('sector-color', 'var(--background-color)')
      demoText.innerHTML = 'Composing demo 12%'
    } */
    if (scroll >= 1205 && scroll <= 1260) {
      sectors?.classList.add('activecomponent')
      sectorsSector?.setAttribute('sector-color', 'var(--secondary-color)')
      demoText.innerHTML = 'Composing demo 44%'
    } /* else {
      sectors?.classList.remove('activecomponent')
      sectorsSector?.setAttribute('sector-color', 'var(--background-color)')
    } */
    if (scroll >= 1400 && scroll <= 1480) {
      progresss?.classList.add('activecomponent')
      progressSector?.setAttribute('sector-color', 'var(--secondary-color)')
      demoText.innerHTML = 'Composing demo 55'
    } /* else {
      progresss?.classList.remove('activecomponent')
      progressSector?.setAttribute('sector-color', 'var(--background-color)')
    } */

    if (scroll >= 1540 && scroll <= 1600) {
      curvedText?.classList.add('activecomponent')
      labelsSector?.setAttribute('sector-color', 'var(--secondary-color)')
      demoText.innerHTML = 'Composing demo 87%'
    } /* else {
      curvedText?.classList.remove('activecomponent')
      labelsSector?.setAttribute('sector-color', 'var(--background-color)')
    } */
    if (scroll >= 1700 && scroll <= 1780) {
      segments?.classList.add('activecomponent')
      segmentsSector?.setAttribute('sector-color', 'var(--secondary-color)')
      demoText.innerHTML = 'Composing demo 91%'
    }/* else {
      segments?.classList.remove('activecomponent')
      segmentsSector?.setAttribute('sector-color', 'var(--background-color)')
    } */
    if (scroll >= 1860 && scroll <= 1900) {
      spokes?.classList.add('activecomponent')
      
      demoText.innerHTML = 'Composing demo 100%'
      
    } 
    if (scroll >= 1920 && scroll <= 2000) {
     
      spokesSector?.setAttribute('sector-color', 'var(--secondary-color)')
     
      demoContainer.style.opacity = 0
    } 
    /* else {
      spokes?.classList.remove('activecomponent')
      spokesSector?.setAttribute('sector-color', 'var(--background-color)')
      demoContainer.style.opacity = 1
    } */
    if (scroll >= 2400 && scroll <= 3000) {
      // asure next ball is hidden
      textBall.style.opacity = 0
      lastactionBall.style.opacity = 0
      // do magic
      let scroll2Deg = ( 180 * scroll / 2400) + 90 * 1;
      featureBall.style.setProperty('--o-angle-composite', scroll2Deg + 'deg');
      featureBall.style.opacity = (scroll > 2400 && scroll <= 3000) ? 1 : 0;
      // festures section
      
      if (scroll >= 2530 && scroll <= 2690) {
        arrowSelector?.classList.remove('angle-90', 'angle-150', 'angle-30')
        arrowSelector?.classList.add('angle-30')
        innovative.style.opacity = 1
        easy.style.opacity = 0
        integration.style.opacity = 0
      }
      if (scroll >= 2700  && scroll <= 2830) {
        arrowSelector?.classList.remove('angle-30', 'angle-150')
        arrowSelector?.classList.add('angle-90')
        innovative.style.opacity = 0
        easy.style.opacity = 1
        integration.style.opacity = 0
      }

      if (scroll >= 2850  && scroll <= 2950) {
        arrowSelector?.classList.remove('angle-30', 'angle-90')
        arrowSelector?.classList.add('angle-150')
        innovative.style.opacity = 0
        easy.style.opacity = 0
        integration.style.opacity = 1
      }
      
    }

    if (scroll >= 3001 && scroll <= 3417) {
      // asure next ball is hidden
      featureBall.style.opacity = 0
      // do magic
      let scroll2Deg = ( -230 * scroll / 416) * 1;
      lastactionBall.style.setProperty('--o-angle-composite', scroll2Deg + 'deg');
      lastactionBall.style.opacity = (scroll > 3001 && scroll <= 3417) ? 1 : 0;
      
    }
  }


  window.addEventListener('scroll', onScroll, {passive: true});

function onScroll() {
    if (!ticking) {
        window.requestAnimationFrame(() => {
            scrollBall();
            ticking = false;
        });

        ticking = true;
    }
}
	 

	});

</script>
