---
import { Image } from 'astro:assets';
const PAGE_TITLE_ID = '_top';
import type { Props } from '@astrojs/starlight/props';

import '../assets/css/orbit.min.css';
import '../assets/landing.css';

const { data } = Astro.props.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};
import Sanpack from '../components/ZumerCode.astro'
import htmlCode from '../examples/layout/orbit.html?raw'
---

<div class="orbitron paused-animations">
<!-- logo -->
<section class="features" style="min-height: 502px;">
  <div class="o-container">
    <div class="orbit-zone">
      <div class="orbit-12 range-90 from-180" style="--o-orbit-number: 15">
        <o-sector  sector-color="var(--primary-color)"  class="outer-orbit reduce-80"></o-sector>
        <div class="satellite logo-ball"></div>
      </div>
      <div class="small-orbit orbit-5 dashed"></div>
      <div class="small-orbit orbit-7 dashed"></div>
      <div class="small-orbit orbit-9 dashed"></div>
      <div class="small-orbit orbit-11 dashed"></div>
      <div class="small-orbit orbit-11 dashed" style="--o-orbit-number: 13"></div>
      <div class="logo orbit-0 gooey-fx ">
        <div class="satellite grow-3x big">
          <div class="orbit-zone">
            <div class="orbit-3 reduce-10">
              <div class="satellite big quarter-outer-orbit angle-299" style="--o-size-ratio: 2.5;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features" >
  <div class="o-container">
    <div class="orbit-zone">
      <div class="orbit-9 range-180 from-0">
        <o-sector  sector-color="var(--primary-color)"  class="outer-orbit reduce-80"></o-sector>
      </div>
      <div class="orbit-10">
        <div class="satellite grow-6x angle-270" style="border: 2px dashed var(--primary-color)">
          <div class="orbit-zone">
            <div class="orbit-6 range-180 from-0">
              <o-sector  sector-color="var(--primary-color)"  class="grow-1x"></o-sector>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons orbit-11 gooey-fx-max from-90">
        <div class="satellite grow-4x small">
          <div class="capsule button">
            <a href="/introduction">Get <br> started</a>
          </div>
        </div>
        <div class="github satellite small angle-80 quarter-inner-orbit github-animation" style="--o-size-ratio: 2.5; --o-angle-composite: 80deg">
          <div class="capsule button" >
            <a href="https://github.com/zumerlab/orbit" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container">
    <div class="orbit-zone">
      <div class="orbit-12 range-90 from-270" style="--o-orbit-number: 15">
        <o-sector  sector-color="var(--primary-color)"  class="outer-orbit reduce-80"></o-sector>
      </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container" style="height: 250px;">
    <div class="orbit-zone">
      <div class="orbit-4">
        <div class="satellite angle-270" style="border: 0.2px dashed var(--primary-color)">
          <div class="orbit-zone">
            <div class="orbit-12 range-170 from-350">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-50"></o-sector>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container" style="height: 183px;">
    <div class="orbit-zone">
      <div class="orbit-4">
        <div class="satellite angle-90" style="border: 0.2px dashed var(--primary-color)">
          <div class="orbit-zone">
            <div class="orbit-12 range-140 from-190">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-50"></o-sector>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container" style="height: 105px;">
    <div class="orbit-zone">
      <div class="orbit-4">
        <div class="satellite angle-270" style="border: 0.2px dashed var(--primary-color)">
          <div class="orbit-zone">
            <div class="orbit-12 range-170 from-30">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-50"></o-sector>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container" style="height: 105px;">
    <div class="orbit-zone">
            <div class="orbit-12 range-90 from-180" style="--o-orbit-number: 15">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-80"></o-sector>
            </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container" style="height: 105px;">
    <div class="orbit-zone">
            <div class="orbit-12 range-90 from-0" style="--o-orbit-number: 15">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-80"></o-sector>
            </div>
            <div class="orbit-10">
              <div class="satellite grow-6x angle-270" style="border: 2px dashed var(--primary-color)">
                <div class="orbit-zone">
                  <div class="orbit-6 range-180 from-0">
                    <o-sector  sector-color="var(--primary-color)"  class="grow-1x"></o-sector>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container" style="height: 105px;">
    <div class="orbit-zone">
            <div class="orbit-12 range-90 from-90" style="--o-orbit-number: 15">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-80"></o-sector>
            </div>
    </div>
  </div>
</section>
<section class="features" style="min-height: 502px;">
  <div class="o-container" style="height: 105px;">
    <div class="orbit-zone">
            <div class="orbit-12 range-230 from-90">
              <o-sector  sector-color="var(--primary-color)"  class="reduce-80"></o-sector>
            </div>
    </div>
  </div>
</section>
<section class="features" style="">guides</section>
<section class="features" style="">copyright</section>
</div>
<script src="../assets/orbit.js"></script>

<style>
   .black-spot {
      background-color: black;
    }

    .white-smoke-spot {
      background-color: rgb(232, 226, 218);
      border: 1px inset #0000002b;
      outline: 2px solid rgb(232 226 218)
    }

    .white-spot {
      border: 1px inset #0000002b;
      background-color: rgb(229, 229, 229);
      outline: 2px solid rgb(229, 229, 229);
    }

    .hours {
      background-color: transparent;
      border: none;
    }

    .big-needle {
      height: 3px;
      border-radius: 2px;
    }
    .mini {
      background-color: rgb(255, 255, 255);
      outline: 2px solid rgb(254, 254, 254);
    }

    .small-clock {
        .small .spoke {
        height: 1px;
        border-radius: 2px;
        background-color: gray;
      }

      .medium .spoke {
        height: 2px;
        border-radius: 2px;
        background-color: rgb(0, 0, 0);
      }

      .hours .satellite {
        font-size: x-small;
        border: none;
        background-color: transparent;
        font-weight: 600;
      }

      .needle {
        background-color: rgb(255, 64, 25);
        height: 1.5px;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.537))
      }

      .needle-center {
        background-color: rgb(255, 64, 25);
      }

    }

    .transparent {
      background-color: transparent;
    }

    .clock>.center {
      border: 3px solid rgb(232, 226, 218);
      background-color: black;
    }

    .hour,
    .minute {
      filter: drop-shadow(4px 4px 5px black)
    }

    .hours {
      font-weight: 700 !important;
    }

    o-label textpath {
      font-size: 3.9px;
      font-weight: 500
    }

    .calendar o-label textpath {
      font-size: 3.5px;
      font-weight: bold;
    }

    .invert-color {
      filter: invert(1);
    }

    .day-name {
      text-transform: uppercase;
      font-weight: bold;
    }
 
  .paused-animations * {
  animation-play-state: paused !important;
  -webkit-animation: none !important;
}

  .orbit-zone {
    width: 0px !important
  }
  section > .orbit-zone {
    width: var(--o-lenght) !important;
  }
  .dev [class*='orbit-']{
 border: 1px solid #cccccc40
  }
  html {
  scroll-behavior: smooth;
}
  .logo-ball, .feature-ball, .why-ball, .component-ball {
    background-color: var(--tertiary-color);
    will-change: transform;
    
  }

  .title {
    width: 150px; 
    color: var(--secondary-color);
    transition: color 300ms;
  }

  .title.active {
    color: white;
  }

  .text-feature {
    width: 250px; 
    color: var(--secondary-color);
    opacity: 0;
    transition-delay: 50ms;
    transition-duration: 300ms;
    transition-property: opacity;
  }
  .text-feature.active {
    opacity: 1
  }

section {
 
width: 100%;
min-height: 500px;
padding: 0 !important;
margin-top: 0 !important;
}

.connector {
  background-color: var(--main-color)
}

	/* Dark mode colors. */
:root {
--main-color: #cececf;
--background-doc-color: #062b45;
--background-color: #0c4974;
--primary-color: #3da9fc;
--tertiary-color: #ef4565;
--secondary-color: #90b4ce;
/* */
--sl-color-accent-low: var(--background-color);
--sl-color-accent-high: var(--tertiary-color);
--sl-color-accent:var(--main-color);
--sl-color-black: var(--background-doc-color);
--sl-color-gray-1: #d8eefe;
--sl-color-gray-2: #d8eefe;
--sl-color-gray-3: #d8eefe;
--sl-color-gray-4: #d8eefe;
--sl-color-gray-5: var(--background-color);
--sl-color-gray-6: #d8eefe;
--sl-color-white: var(--primary-color);
}
/* Light mode colors. */
:root[data-theme='light'] {
--sl-color-accent-low: #90b4ce;
--sl-color-accent-high: #ef4565;
--sl-color-accent: var(--primary-color);
--sl-color-white: #094067;
--sl-color-gray-1: #5f6c7b;
--sl-color-gray-2: #5f6c7b;
--sl-color-gray-3: #5f6c7b;
--sl-color-gray-4: #5f6c7b;
--sl-color-gray-5: #353841;
--sl-color-gray-6: #d8eefe;
--sl-color-black: #fffffe;


}

:global(:root) {
--ec-frm-trmBg: #cde0ee !important;
--ec-frm-edBg: #cde0ee !important;
--ec-frm-trmTtbBg: #cde0ee !important; 
--ec-brdCol: var(--background-color); !important;
}

:global(.expressive-code .frame) {
box-shadow: none !important;

}
:global(.expressive-code *) {
border: none !important;
}

:global(.expressive-code pre) {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 8px !important;
border-bottom-left-radius: 8px !important;
}



:global(.default) {
--sl-color-border-badge: #094067 !important;


}







.copy {
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.copy > * {
	max-width: 50ch;
}

h1 {
	font-size: clamp(var(--sl-text-3xl), calc(0.25rem + 5vw), var(--sl-text-6xl));
	line-height: var(--sl-line-height-headings);
	font-weight: 600;
	color: var(--sl-color-white);
}

.tagline {
	font-size: clamp(var(--sl-text-base), calc(0.0625rem + 2vw), var(--sl-text-xl));
	color: var(--sl-color-gray-2);
}

.actions {
	gap: 1rem 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

@media (min-width: 50rem) {
	

	.copy {
		align-items: center;
	}

	.actions {
		justify-content: center;
	}
}
* {
  animation-play-state: var(--animation-play-state, running) !important;
}
</style>
<script>
	// Función para pausar todas las animaciones
	function pauseAllAnimations() {
	  document.documentElement.style.setProperty('--animation-play-state', 'paused');
	}
	
	// Función para reanudar todas las animaciones
	function resumeAllAnimations() {
	  document.documentElement.style.setProperty('--animation-play-state', 'running');
	}
	
	// Pausar todas las animaciones al cargar el script
	pauseAllAnimations();
	
	// Reanudar todas las animaciones cuando el DOM esté completamente cargado
	window.addEventListener('DOMContentLoaded', (event) => {
	  resumeAllAnimations();
	});
</script>
