<div class="grid-container">
  <div class="row row-1">
  </div>
  <div class="row row-2">
    <div class="bigbang" >
      <div class="gravity-spot">
        <div class="gravity-spot">
          <div class="orbit-9" >
            <div class="satellite grow-1x time-display">
              <div class="capsule">
               <span style="font-weight: bold; margin-right: 5px">{{ tiempoRestante && tiempoRestante}} </span> {{ tiempoRestante && tiempoRestante > 1 ? ' sec' : ' secs'}}
              </div>
            </div>
          </div>
        <div class="orbit-7" >
          <div class="satellite grow-1x">
            <div class="capsule">
              <svg height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368">
                  <path d="M480-360 280-559h400L480-360Z"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="orbit-6 disc" :class="`from-${rotationAngle}`">
          <div class="satellite inner-orbit spin-lock" v-for="n in 12" :key="'number-' + n">
            <div class="capsule flip">{{ (n - 1) * 5 }}</div>
          </div>
        </div>
        <div class="orbit-5":class="`from-${rotationAngle}`">
          <div class="vector shrink-80 inner-orbit" v-for="n in 60" :key="'small-' + n"></div>
        </div>
        <div class="orbit-5":class="`from-${rotationAngle}`">
          <div class="vector shrink-70 inner-orbit" v-for="n in 12" :key="'big-' + n"></div>
        </div>
        <div class="orbit-6 " :class="`from-${rotationAngle}`">
          <o-progress
            class="inner-orbit grow-2.5x time"
            :value="progressValue"
            max="360"
          ></o-progress>
        </div>
        <div
          class="orbit-6 panel"
          ref="time_panel"
          @mousedown="startDrag" @touchstart.prevent="startDrag"
        ></div>
        <div class="orbit-0">
          <div class="satellite grow-0.8x control" 
          @click="toggleRestore"
          @mousedown="startLongPress"
          @mouseup="endLongPress"
          @touchstart.passive="startLongPress"
          @touchend="endLongPress">
          <div class="capsule">
            <svg height="48px" viewBox="0 -960 960 960" width="48px" fill="white">
              <path ref="icon_control" d=""/>
            </svg>
          </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
  