
.button {
  font-size: 18px;
}
.noactivecomponent {
  border: 4px solid transparent !important; color: var(--primary-color) !important;
  transition: all 120ms;
}
.activecomponent {
  border: 4px solid var(--primary-color) !important; color: var(--secondary-color) !important;
  transition: all 120ms;
}
body .orbitron a {
  text-decoration: none;
  color: unset;
}


.orbit,
[class*='orbit-']:not(.orbit-zone) {
  border-color: transparent;
}
.solid {
  border: 1px solid var(--primary-color) !important;
}
.dashed {
  border: 1px solid var(--primary-color) !important;
}

.text {
  border: 0px dashed var(--main-color) !important;
}
.satellite {
  border: 1px solid transparent;
  background-color: transparent;
}
.orbit-5 > .shapes {
  border: 1px solid var(--background-color);
  outline: 10px solid var(--background-color);
  background-color: var(--background-color);
}

.big {
  border: 25px solid white;
  background-color: var(--background-color);
}
.tiny {
  border: 25px solid white;
  background-color: var(--background-color);
}
.small {
  border: 8px solid transparent;
  background-color: var(--tertiary-color);
}
.medium-orbit {
  border: none !important;
}
.circle,
.box {
  border: 2px solid var(--primary-color) !important;
  outline: 9px solid var(--background-color);
}
.triangle > .segment {
  border: 1px solid var(--primary-color) !important;
}

.text {
  font-size: 34px;
  color: var(--main-color);
}
.small {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: color 200ms;
}

.small:hover {
  color: var(--background-color) !important;
  cursor: pointer;
}



.bigbang {
  
  animation-delay: 200ms;
  animation: show 200ms;
  animation-fill-mode: forwards;
  
}



@keyframes show {
  0% {
    
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(90deg)
  }
  100% {
    transform: rotate(0deg)
  }
}
@keyframes rotategit {
  0% {
    transform:  scale(0) 
  }
  100% {
    transform: scale(1) 
}
}

.github-animation {
  
  animation: rotategit 1s;

  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  will-change: transform;
}
.action-sector {
  
  animation: rotate 1s;

  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  will-change: transform;
}


.curved-text {
  
  animation: show 1000ms;
  animation-delay: 680ms;
  animation-fill-mode: forwards;
  will-change: transform;
}

.indicator {
  border: 1px solid var(--tertiary-color) !important;
}
